@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");

* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem 3rem;
  font-family: "Syne", sans-serif;
  background: black;
  color: white;
  /* overflow: hidden; */
  /* width: 100%; */
  /* position: relative; */
}

.bartender {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;

  .bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #e19b31;
    animation-name: tend;
    animation-duration: 1.8s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.465, 0.265);
    animation-fill-mode: backwards;
    transform: translateX(-100%);

    .aLogo {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      background: #000;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@keyframes tend {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  position: fixed;
  width: 85%;
  top: 0rem;
  padding: 1rem;
  padding-top: 2rem;
  background-color: #000;
  opacity: 70%;
  height: 7rem;
  /* left: 5rem; */
  /* right: 0rem; */
  /* right: 3rem; */

  @media (max-width: 680px) {
    opacity: 0;
    top: 0rem;
  }

  .logo {
    /* font-family: "Playfair Display", serif; */
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.3rem;
  text-transform: uppercase;

  /* position: relative; */

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.738);
    font-size: 14px;
    font-weight: 600;
    position: relative;

    &:hover {
      color: white;
      /* font-style: italic; */
    }
  }

  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e19b31;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  a:hover::after {
    transform: scaleX(1);
    width: 100%;
  }
}

.sider {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: fixed;
  top: 10rem;
  left: 3rem;

  @media (max-width: 680px) {
    flex-direction: row;
    top: 0rem;
    background-color: black;
    position: fixed;
    /* gap: 1.5rem; */
    width: 100%;
    height: 5rem;
    left: 5rem;
  }

  @media (max-width: 480px) {
    flex-direction: row;
    top: 2rem;
    background-color: black;
    position: fixed;
    justify-content: space-around;
    gap: 1.5rem;
    height: 5rem;
    top: 0rem;
    width: 100%;
    left: 0rem;
  }
}

main {
  display: flex;
  flex-direction: column;
}

/* .time-container {
  text-align: center;
  background: #333;
  color: white;
  padding: 2rem;
  border-radius: 10px;
}
.time {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.day {
  font-size: 1.5rem;
} */

.socials {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-direction: column;

  @media (max-width: 680px) {
    flex-direction: row;
  }
}

.frame {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 680px) {
    width: 30px;
    height: 30px;
  }

  &:hover {
    /* background: #e19b31; */
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
  }
}

.divider {
  width: 1px;
  height: 120px;
  background: rgba(255, 255, 255, 0.392);
  display: flex;
  align-self: center;

  @media (max-width: 680px) {
    transform: rotate(90deg);
    height: 40px;
  }
}
.trademark {
  display: flex;
  align-items: center;
  flex-direction: row;
  transform: rotate(-90deg);
  gap: 0.5rem;
  color: rgba(255, 255, 255, 0.381);

  @media (max-width: 680px) {
    transform: rotate(0deg);
  }
}

/* CSS to style the container and center its content */
.image_holder {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100vh;
  padding: 20px;
}

.image_holder h4 {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: white;
}

/* CSS to add some spacing between the text and the image */
.image_holder figure {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* CSS to add some spacing and layout adjustments for the text content */
.image_holder figure div {
  margin-right: 20px;
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image_holder figure div p {
  font-size: medium;
  text-transform: uppercase;
}

/* CSS for the image to ensure it maintains its aspect ratio */
.image_holder img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

/* Media query for screens 768px and smaller */
@media (max-width: 900px) {
  .image_holder {
    flex-direction: column;
    text-align: center;
  }

  .image_holder figure {
    flex-direction: column;
  }

  .image_holder figure div {
    margin-right: 0;
    margin-bottom: 20px;
    width: 20rem;
  }

  .image_holder img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 680px) {
  .image_holder {
    padding: 10px;
    height: 100vh;
    margin-bottom: -5rem;
  }

  .image_holder img {
    width: 100%;
    height: auto;
  }
}

/* Media query for screens 480px and smaller */
@media (max-width: 480px) {
  .image_holder {
    padding-top: 10px;
  }

  .image_holder img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 300px) {
  .image_holder {
    margin-bottom: 3rem;
  }
}

.heading {
  text-align: center;

  @media (max-width: 400px) {
    padding-top: 2em;
    margin-bottom: -6rem;
  }
}

.goals {
  text-transform: uppercase;
}

@media (max-width: 680px) {
  .first {
    margin-top: 8rem;
  }

  .heading {
    padding-top: 6em;

    margin-bottom: 0rem;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.463);
  margin: 0rem 4rem;
  padding-top: 3rem;

  @media (max-width: 680px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0rem;
  }
}
